{% if include.url and include.url != "" %}
<div class="audio-player">
  <div class="audio-label">
    <i class="fa-solid fa-headphones"></i> Version audio disponible
  </div>
  <iframe
    width="100%"
    height="166"
    scrolling="no"
    frameborder="no"
    allow="autoplay"
    src="https://w.soundcloud.com/player/?url={{ include.url | url_encode }}&color=%23b8860b&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false">
  </iframe>
</div>
{% endif %}
